.nav-links a{font-size:1rem;font-weight:bold;line-height:2rem;padding:0 1rem;}
.home .hero h1{font-weight:normal;}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active{border-color:#ff4341;}
.home .hero .action-button,.home .hero .action-button:hover{background-color:#ff4341;border-bottom:1px solid #ff4341;}
.home .hero .description{color:#ff4341;font-size:1.8rem;}

a,.page-nav .next,
.dropdown-wrapper .nav-dropdown .dropdown-item a.router-link-active{color: #ff4341;}
.dropdown-wrapper .nav-dropdown .dropdown-item a.router-link-active::after{border-left: 5px solid #ff4341;}
a.sidebar-link.active,a.sidebar-link:hover{color: #ff4341;border-left-color: #ff4341;}
.custom-block.tip{border-color: #ff4341;}
.nav-links a:hover, .nav-links a.router-link-active,
.dropdown-wrapper .nav-dropdown .dropdown-item a:hover{color:#ff4341;}